**/.ipynb_checkpoints/*
**/__pycache__/*
**/.idea/*
**/results/**
**/~$*
/electoral_formula/data_alt/**
/electoral_formula/datagen/data/**
/electoral_formula/datagen/ballot/**
/notebooks/data/**
/notebooks/figs/**

/electoral_formula/cluster/slurms/*.slurm